.foodPreviews{
  width: 40%;
  top: 6%;  
  bottom: 0;  
  margin: auto;
  position: absolute;
  right: 15%;
  height: auto;
  z-index: 15;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item2 {
  text-align: center;
}


@media screen and (max-width: 736px){
  .foodPreviews{
    opacity: 0;
  }
}